[user]
	name = Yehor Lvivski
	email = yehor@lvivski.com

[alias]
	cb = checkout -B
	co = checkout
	ci = commit
	st = status -sbu
	br = branch
	lg = log --pretty=oneline --graph
	cs = commit -s
	sb = show-branch
	df = diff
	up = pull --recurse-submodules
	dw = diff --color-words
	ll = log --stat --abbrev-commit
	unpush = push -f origin HEAD^:master
	undo = reset --soft HEAD^
	amend = commit --amend --reuse-message=HEAD
	count = shortlog -sn
	tags = tag -l
	branches = branch -a
	remotes = remote -v
	cleanup = "!git branch --merged | grep -v '\\*' | xargs -n 1 git branch -d"
	whoami = config user.email
	credit = "!f() { git commit --amend --author \"$1 <$2>\" -C HEAD; }; f"
	aliases = config --get-regexp alias

[color]
	ui = auto

[color "branch"]
	current = yellow reverse
	local = yellow
	remote = green

[color "diff"]
	meta = yellow bold
	frag = magenta bold
	old = red bold
	new = green bold

[color "status"]
	added = yellow
	changed = green
	untracked = cyan

[core]
	excludesfile = ~/.gitignore
	editor = vim
	whitespace = space-before-tab,indent-with-non-tab,trailing-space

[diff]
	renames = copies

[diff "bin"]
	textconv = hexdump -v -C

[merge]
	log = true

[apply]
	whitespace = fix

[help]
	autocorrect = 1

[push]
	default = simple
	followTags = true

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	required = true
	process = git-lfs filter-process

[github]
	user = lvivski

[credential]
	helper = osxkeychain

[init]
	templateDir = ~/.config/git/template/
